@page
@model turfbooking.Pages.Booking.SlotBookingModel
@using turfbooking.Models

@{
    ViewData["Title"] = "Slot Booking";
}

<h2>Book a Slot for @Model.Date.ToString("dd-MM-yyyy")</h2>

<style>
    .slot-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .slot-card {
        width: 140px;
        height: 70px;
        border-radius: 8px;
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5px;
    }

    .booked {
        background-color: #dc3545;
    }

    .available {
        background-color: #28a745;
        cursor: pointer;
    }

        .available:hover {
            opacity: 0.9;
        }
</style>

<div>
    <strong>Select Date:</strong>
    <div class="btn-group mb-3" role="group">
        @foreach (var day in Model.Next7Days)
        { 
            <a asp-page="./SlotBooking"
               asp-route-GroundId="@Model.GroundId"
               asp-route-Date="@day.ToString("yyyy-MM-dd")"
               class="btn btn-sm @(Model.Date.Date == day.Date ? "btn-primary" : "btn-outline-primary")">
                @day.ToString("ddd, MMM dd")
            </a>
        }
    </div>
</div>
@if (!Model.AvailableSlots.Any())
{
    <p>No available slots for the selected date.</p>
}
else
{
    <div class="slot-grid">
        @foreach (var slot in Model.AvailableSlots)
        {
            var date = slot.BookingDate.Date.ToString("dd-MM-yyyy");
            var slotText = $"{slot.StartTime:hh\\:mm} - {slot.EndTime:hh\\:mm}";
            var isExpired = (Model.Date.Date == DateTime.Now.Date && slot.StartTime <= @Model.CurrentTime) || Model.Date.Date < DateTime.Now.Date;
            if (slot.Status == Slot.SlotStatus.Blocked)
            {
                continue;
            }
            else if (isExpired)
            {
                <div class="slot-card booked">
                    @date<br />
                    @slotText<br />Expired
                </div>
            }
            else if (slot.Status==Slot.SlotStatus.Booked)
            {
                <div class="slot-card booked">
                    @date<br />
                    @slotText<br />Booked
                </div>
            }
            else
            {
                <form method="post" asp-page-handler="Book">
                    <input type="hidden"  name="slotId" value="@slot.Id" />
                    <button type="submit" class="slot-card available">
                        @slotText<br />Book
                    </button>
                </form>
            }
        }
    </div>
}