@page
@model turfbooking.Pages.Admin.BookingManagementModel
@using turfbooking.Models;
@{
    ViewData["Title"] = "Booking Management";
}

<h2>Booking Management</h2>



<form method="get" class="form-inline mb-3">
    <div class="form-group mr-2">
        <input type="text" name="SearchUsername" value="@Model.SearchUsername" class="form-control" placeholder="Search by Username" />
    </div>
    <div class="form-group mr-2">
        <input type="date" name="SearchDate" value="@(Model.SearchDate?.ToString("yyyy-MM-dd"))" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
    <a asp-page="./BookingManagement" asp-route-GroundId="@Model.GroundId" class="btn btn-secondary ml-2">Reset</a>
</form>


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (Model.Bookings != null && Model.Bookings.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Ground</th>
                <th>Booking Date</th>
                <th>Time</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model.Bookings)
            {
                <tr>
                    <td>@b.User.Username</td>
                    <td>@b.Ground.GroundName</td>
                    <td>@b.BookingDate.ToString("dd-MM-yyyy")</td>
                    <td>@b.StartTime.ToString(@"hh\:mm") - @b.EndTime.ToString(@"hh\:mm")</td>
                    <td>@b.Status</td>
                    <td>
                        @if (b.Status != BookingStatus.Cancelled &&(b.BookingDate.Date > DateTime.Now.Date ||(b.BookingDate.Date == DateTime.Now.Date && b.StartTime >= DateTime.Now.TimeOfDay))){
                        
                            <form method="post" asp-page-handler="CancelBooking" asp-route-bookingId="@b.Id" asp-route-GroundId="@Model.GroundId" onsubmit="return confirm('Are you sure you want to cancel this booking?');">
                                <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                            </form>
                        }                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">No bookings found.</div>
}


